<h1 class="page-header">Remote Control</h1>
<form class="form-search" data-ng-submit="searchYoutube()">
    <div class="input-append">
        <input type="text" class="input-medium search-query" placeholder="Search Youtube" data-ng-model="searchTerm"/>
        <button type="submit" class="btn"><span class="icon-search"></span></button>
    </div>
</form>
<div>
    <ul class="thumbnails">
        <li class="span3"  data-ng-repeat="item in items">
            <div class="thumbnail">
                <h4>{{item.snippet.title}}</h4>
                <img class="img-rounded" width="100%" src="{{item.snippet.thumbnails.default.url}}" title="{{item.snippet.description}}"/>
                <div style="margin-top: 5px;">
                    <button class="btn" ng-click="play(item.id.videoId)"><span class="icon-play"></span></button>
                    <button class="btn"><span class="icon-stop"></span></button>
                </div>
            </div>
        </li>
    </ul>
</div>
